.shelterWrapper {
    display: grid;
    width: 1280px;
    height: 908px;
    font-family: Georgia;
    justify-items: center;
    justify-content: center;
}


.startScreen {
    display: flex;
    flex-direction: row;
}


.title {
    display: flex;
    width: 1200px;
    border-radius: 0px;
    color: rgba(84, 84, 84, 1);
    background: rgba(255, 255, 255, 1);
    padding-top: 30px;
    padding-left: 40px;
    width: 184px;
    font-size: 32px;
    font: Georgia;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

.subtitle {
    display: flex;
    width: 179px;
    padding-left: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    color: rgba(84, 84, 84, 1);
    font: Georgia;
    letter-spacing: 1px;
}

.links {
    display: flex;
    height: 27px;
    width: 443px;
    top: 16px;
    border-radius: 0px;
    font-family: Arial;
    color: rgba(41, 41, 41, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 533px;
    padding-top: 46px;
    padding-right: 40px;
    float: right;
    flex-direction: row;
    background: rgba(255, 255, 255, 1);
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: rgba(41, 41, 41, 1);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

a:visited {
    color: rgba(41, 41, 41, 1);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
}

a:hover {}

a:active {
    color: rgb(164, 107, 46);
}


.pets {
    display: flex;
    background-color: rgba(246, 246, 246, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.petsHead {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90px;
    width: 400px;
    width: 400px;
    height: 90px;
    font-family: Georgia;
    color: rgba(84, 84, 84, 1);
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;

}

.petsCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.petsBlock {
    display: flex;
    height: 435px;
    width: 270px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 250, 250, 1);

}

.learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 187px;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    background-color: rgba(246, 246, 246, 1);
    border: 2px solid rgba(241, 205, 179, 1);
    cursor: pointer;

}

.nav {
    display: flex;
    width: 340px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}


.navigationInact {
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    justify-content: center;
    align-items: center;
    color: rgba(205, 205, 205, 1);
    border: 2px solid rgba(205, 205, 205, 1);
    cursor: pointer;
}


.navigationAct {
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    justify-content: center;
    align-items: center;
    background: rgba(241, 205, 179, 1);
    border: 2px solid rgba(205, 205, 205, 1);
    cursor: pointer;
}

.navigationPag {
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    justify-content: center;
    align-items: center;
    color: rgba(41, 41, 41, 1);
    border: 2px solid rgba(241, 205, 179, 1);
    cursor: pointer;
}

.footer {
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    background-image: url("footer-gradient-background.png");
}

.contactsHead {
    display: flex;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    font-family: Georgia;
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;

}

.contactsSubhead {
    display: flex;
    height: 23px;
    width: 251px;
    left: 60px;
    top: 135px;
    padding-right: 15px;
    color: rgba(241, 205, 179, 1);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    justify-content: flex-start;
}

.contactsSubhead img {
    display: flex;
    position: sticky;
    padding-right: 15px;
}

.locationsHead {
    display: flex;
    height: 90px;
    width: 302px;
    left: 1px;
    top: 0px;
    color: rgba(255, 255, 255, 1);
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;

}

.locationsSubhead {
    display: flex;
    position: sticky;
    height: 46px;
    width: 302px;
    top: 124px;
    padding-right: 15px;
    color: rgba(241, 205, 179, 1);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: flex-start;
}

.locationsSubhead img {
    display: flex;
    position: sticky;
    padding-right: 15px;
}

.puppy img {
    display: flex;
    position: sticky;
    height: 310px;
    width: 300px;
    left: 900px;
    top: 0px;
    border-radius: 0px;

}